<section id="contact-me" class="contact-section">
  <h2>Contact Me</h2>
  <div class="contact-buttons">
    <a href="mailto:lois.randolph@outlook.com" class="contact-btn">
      <img src="{{ '/assets/icons/Outlook.png' | relative_url }}" alt="Email"> Email
    </a>
    <a href="https://www.linkedin.com/in/lois-randolph" target="_blank" class="contact-btn">
      <img src="{{ '/assets/icons/LinkedIn.png' | relative_url }}" alt="LinkedIn"> LinkedIn
    </a>
    <a href="https://github.com/Low-is" target="_blank" class="contact-btn">
      <img src="{{ '/assets/icons/GitHub.png' | relative_url }}" alt="GitHub"> GitHub
    </a>
  </div>
</section>
