---
---

@import 'jekyll-theme-architect';


.contact-buttons {
  display: flex;
  gap: 20px;      /* space between icons */
  justify-content: center; /* center on the page */
  margin-top: 2rem;  /* space above the icons */
  margin-bottom: 2rem; /* space below the icons */
}

.icon-button {
  width: 40px;    /* icon size */
  height: 40px;
  transition: transform 0.2s;
}

.icon-button:hover {
  transform: scale(1.2); /* subtle hover effect */
}

