---
---

@import 'jekyll-theme-architect';


#contact-me .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2rem;
}

#contact-me .buttons a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

#contact-me .buttons a img {
  width: 32px;
  height: 32px;
}


