<style>
* {
box-sizing: border-box;
}

body {
outline: 2px solid red;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flex-child-1,
.flex-child-2 {
  flex: 1;
  padding: 20px;
  background-color: lightblue;
  border: 2px solid black;
}

.flex-child-2 {
  flex: 3;
  background-color: lightgreen;
}

#TableOfContents a {
  text-decoration: none;
  color: #007bff;
  transition: all 0.3s ease;
  display: block;
  line-height: 2;
}

#TableOfContents a:hover {
  color: #ff6600;
  transform: scale(1.1);
}

#TableOfContents ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#TableOfContents li {
  position: relative;
  padding: 10px;
}

#TableOfContents > ul > li {
  background: #f0f0f0;
  margin-bottom: 5px;
  transition: background-color 0.3s;
}

#TableOfContents > ul > li:hover {
  background: #e0e0e0;
}


/* Hide subtopics by default */

.subtopics {
  display: none;
  margin-left: 20px;
  background: #fff;
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

/* Show subtopics on hover */

li:hover .subtopics {
  display: block;
}

.content-wrapper{
  max-width: 80ch;
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  padding: 1rem;
  line-height: 1.6;
  outline: 2px solid red;
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

</style>
