<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" class="button"><small>View project on</small> GitHub</a>
        {% endif %}
        {% if site.github.is_user_page %}
          <a href="{{ site.github.owner_url }}" class="button"><small>Follow me on</small> GitHub</a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
           <a href="/assets/resume/Lois_Randolph_Resume.pdf" class="button" download>
  <small>Download</small>
  Resume (PDF)
</a>
            <h2>Publications</h2>

<ul>
  <li>
    <strong>Romo B</strong>, Fuentes Z, <strong>Randolph L</strong>, et al. (2025).
    <em>Targeting the LIF/LIFR axis reduces the progression of inflammatory breast cancer by promoting ferroptosis.</em>
    <strong>Cancers</strong>.
    <a href="https://doi.org/10.3390/cancers17050790" target="_blank">DOI</a>
  </li>

  <li>
    <strong>Randolph L</strong>, Joshi J, et al. (2024).
    <em>Significance of LIF/LIFR signaling in the progression of obesity-driven triple-negative breast cancer.</em>
    <strong>Cancers</strong>.
    <a href="https://doi.org/10.3390/cancers16213630" target="_blank">DOI</a>
  </li>

  <li>
    Spencer N, Sanchez Rodriguez AL, et al. (2023).
    <em>The LIFR inhibitor EC359 effectively targets type II endometrial cancer by blocking LIF/LIFR oncogenic signaling.</em>
    <strong>Int. J. Mol. Sci.</strong>
    <a href="https://doi.org/10.3390/ijms242417426" target="_blank">DOI</a>
  </li>
</ul>

<h3>Manuscripts in Progress</h3>
<ul>
  <li>
    McOmber BG, <strong>Randolph L</strong>, et al. (2025).
    <em>Predicting future respiratory hospitalizations in extremely premature neonates using transcriptomic data and machine learning.</em>
  </li>
</ul>

<h3>Conference Abstracts</h3>
<ul>
  <li>
    <em>Dose-Dependent Disruption of the Gut Microbiome and Intestinal Pathophysiology Following Acute Radiation Exposure.</em>
    AAST & Clinical Congress of Acute Care Surgery (2025).
  </li>
  <li>
    <em>Insights into bronchopulmonary dysplasia: A meta-analysis of transcriptomic data.</em>
    PAS Meeting (2025).
  </li>
</ul>

          {% endif %}

          {% if site.github.is_project_page %}
            <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
          {% endif %}

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
        </aside>
      </div>
    </div>

  </body>
</html>
